body {
    font-family: sans-serif;
    text-align: center;
    background-color: #f2f2f2; /* Optional background color */
    margin: 0;
}

.container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use 100vh for full viewport height */
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 300px; /* Adjust width as needed */
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.signup {
    background-color: #4CAF50; /* Green */
    color: #fff;
}

.signin {
    background-color: #2196F3; /* Blue */
    color: #fff;
}

button:hover {
    opacity: 0.8;
}
